<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<title>Classement</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div th:replace="~{fragment::style2}"></div>


<body>

<div th:replace="~{fragment::navbar}"></div>

<div class="w3-content w3-container w3-white w3-center" id="class">
  <h1 class="w3-center">Classement des joueurs</h1>
</br>
  <p>Voici les classements des membres de l'association lors des différents tournois:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>1500</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>1000</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>800</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>600</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>400</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>0</td>
      </tr>
       <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>0</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>0</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="w3-container w3-content w3-center w3-white " id="regle">
<h1 class="w3-center"> Règles des tournois </h1>
</br>
<p> Voici les règles des tournois de l'association <p>
<p>- Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>- Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>- Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>- Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>- Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>- Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>- Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>- Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>- Le donneur distribue à chaque joueur deux cartes, une par une.</p>
<p>- Le donneur distribue à chaque joueur deux cartes, une par une.</p>


</div>

<div th:replace="~{fragment::script}"></div>

</body>

</html>