<!DOCTYPE html>
<html>
<title>Enregistrement</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet prefetch'
      href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
<link rel="stylesheet" href="css/style.css">

<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Lato", sans-serif;
    }

    body, html {
        height: 100%;
        line-height: 1.8;
    }

    .login {
        box-sizing: none;
    }
</style>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-show w3-card w3-animate-top w3-white" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);"
           onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a href="accueil#home" class="w3-bar-item w3-button">HOME</a>
        <a href="accueil#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
        <a href="accueil#portfolio" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-book"></i> INFOS</a>
        <a href="classement" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-line-chart"></i> CLASSEMENT</a>
        <a href="tournoi" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-star"></i> TOURNOI</a>
        <a href="accueil#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
        <a href="login" class="w3-bar-item w3-button w3-right w3-hide-small">CONNEXION</a>
        <a href="register" class="w3-bar-item w3-button w3-right w3-hide-small">S'ENREGISTRER</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
        <a href="accueil#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
        <a href="accueil#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">INFOS</a>
        <a href="classement" class="w3-bar-item w3-button" onclick="toggleFunction()">CLASSEMENT</a>
        <a href="tournoi" class="w3-bar-item w3-button" onclick="toggleFunction()">TOURNOI</a>
        <a href="accueil#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
        <a href="login" class="w3-bar-item w3-button" onclick="toggleFunction()">CONNEXION</a>
        <a href="register" class="w3-bar-item w3-button" onclick="toggleFunction()">S'ENREGISTRER</a>
    </div>
</div>


<div class='login'>
    <div class='login_title w3-center'>
        <span>CONNEXION</span>
    </div>
    <div class='login_fields'>
        <div class='login_fields__user'>
            <div class='icon'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png'>
            </div>
            <input placeholder='Email' type='text' name="email1">
            <div class='validation'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
            </div>
            </input>
        </div>
        <div class='login_fields__password'>
            <div class='icon'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'>
            </div>
            <input placeholder='Mot de Passe' type='password' name="password1">
            <div class='validation'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
            </div>
        </div>
        <div class='login_fields__submit w3-center'>
            <input type='submit' value='VALIDER'>
        </div>
    </div>
</div>
<div class='authent'>
    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/puff.svg'>
    <p>Authentification...</p>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>


<script src="js/index.js"></script>

<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function toggleFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>