<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Tournoi Admin</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head><link rel="icon" type="image/ico" href="/img/pique.ico" /></head>

<link rel="stylesheet" href="compiled/flipclock.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="compiled/flipclock.js"></script>

<div th:replace="~{fragment::style4}"></div>

<body>

<div th:replace="~{fragment::navbar3}"></div>

<div name="tournoi" class="w3-center w3-content w3-container w3-white" style="margin-top: 80px;">
    <h1> GESTION DES TOURNOIS </h1>

    <div name="minuteur" id="minuteur" class="w3-display-bottomright w3-quarter w3-center w3-container w3-content w3-blue" style="height: 500px;margin-right: 80px; padding-bottom:80px;">
        <h1 class="w3-border" style="margin-bottom: 50px"> TIMER </h1>
        <div class="clock" id="clock" style="margin:2em;"></div>
        <p> Entrez un timer en minutes : </p>
        <input class="timer" type="number" id="timer" min="1" max="99" step="1"/></br></br>
        <button class="start w3-green w3-btn"> Start </button>
        <button class="stop w3-red w3-btn"> Stop </button></br></br>
        <button class="reset w3-amber w3-btn"> Set/Reset </button></br>
    </div>

    <div name="gestion tournoi" class="w3-display-bottommiddle w3-quarter w3-center w3-content w3-container w3-blue" style="height: 500px;padding-bottom:50px;">
        <h1 class="w3-border" style="margin-bottom: 50px;"> TABLES</h1>
        <p> Nombre de joueurs inscrits : 34 </p></br>
        <select style="width: 200px;">
            <option> Places par tables </option>
            <option> 4 </option>
            <option> 5 </option>
            <option> 6 </option>
            <option> 7 </option>
            <option> 8 </option>
        </select></br>
        <select style="width: 200px;">
            <option> Type de partie</option>
            <option> Placement Aléatoire </option>
            <option> Placement par Classement </option>
        </select></br></br>
        <button class="w3-btn w3-green" style="margin-bottom: 10px"> LANCER TOURNOI</button></br>
        <button class="w3-btn w3-amber" >  NOUVELLE PARTIE </button></br>
        <button class="w3-btn w3-red" style="margin-top: 50px;"> RESET TOURNOI</button></br>
    </div>

    <div name="gestion points" class="w3-display-bottomleft w3-quarter w3-center w3-content w3-container w3-blue" style="height: 500px;margin-left: 80px;padding-bottom:50px;">
        <h1 class="w3-border" style="margin-bottom:60px;"> POINTS </h1>
        <p> Sélectionner un joueur et entrer ses points :</p>
        <select style="margin-bottom: 5px;">
            <option> Joueurs Inscrits </option>
            <input type="number" name="points" min="0" step="1" style="width: 130px;height: 22px;">
        </select></br>
        <select style="margin-bottom: 5px;">
            <option> Joueurs Inscrits </option>
            <input type="number" name="points" min="0" step="1"style="width: 130px;height: 22px;">
        </select></br>
        <select style="margin-bottom: 5px;">
            <option> Joueurs Inscrits </option>
            <input type="number" name="points" min="0" step="1" style="width: 130px;height: 22px;">
        </select></br>
        <select style="margin-bottom: 5px;">
            <option> Joueurs Inscrits </option>
            <input type="number" name="points" min="0" step="1" style="width: 130px;height: 22px;">
        </select></br>
        <button class="w3-btn w3-green" style="margin-top: 40px;"> VALIDER POINTS </button></br>
        <button class="w3-btn w3-red" style="margin-top: 50px;"> RESET CLASSEMENT </button>
    </div>

</div>

<script type="text/javascript" id="script1">
    var clock;
    var clock2;
    $(document).ready(function() {
        clock = $('.clock').FlipClock(60, {
            clockFace: 'MinuteCounter',
            countdown: true,
            autoStart: false,
            language:"french",
            callbacks: {
                start: function() {
                    $('.message').html('The clock has started!');
                },
                stop: function() {
                    $('.message').html('The clock has stopped!');
                },
                reset: function() {
                    $('.message').html('The clock has been set!');
                }
            }
        });
        $('.start').click(function(e) {
            clock.start();
        });
        $('.stop').click(function(e) {
            clock.stop();
        });
        $('.reset').click(function(e) {
            clock.stop();
            clock.reset();
            clock.setTime(document.getElementById("timer").value*60);
        });
    });
</script>


<div th:replace="~{fragment::script}"></div>


</body>

</html>